.contact--container {
    top: 85px;
    background-image: linear-gradient(to top, rgba(22, 72, 84, 0.0) 35%, rgba(22, 72, 84, 1) 90%), url(assets/images/beach.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: 80% 50%;
    z-index: -10;

    .contact--content--width {
        padding: 79px 13.5% 79px 8.33%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.6rem;
        grid-template-areas: 
        "header  card"
        "text    card"
        "form    card";        

        .contact--header--container {
            grid-area: header;

            .contact--header {
                @include header-lg(left, $carrot);
                margin-bottom: 2.05rem;
            }

            .contact--first--paragraph {
                @include copy-desktop(500, left, $white);
                // line-height: 1.45rem;
            }
        }

        .contact--second--paragraph--container {
            grid-area: text;

            .contact--second--paragraph {
                @include copy-desktop(500, left, $white);
                // line-height: 1.45rem;
            }
        }

        .contact--form--container {
            grid-area: form;

            .contact--form--cta {
                @include header-md(left, $white);
            }

            .contact--form {
                @include copy-desktop(700, left, $white);
                display: flex;
                flex-direction: column;

                input:not(:last-child) {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid $white;
                    margin-bottom: 1.5rem; 
                }

                input[type="submit" i] {
                    @include button;
                    width: 10rem;  
                }

                input:-webkit-autofill,
                input:-webkit-autofill:hover, 
                input:-webkit-autofill:focus,
                textarea:-webkit-autofill,
                textarea:-webkit-autofill:hover,
                textarea:-webkit-autofill:focus,
                select:-webkit-autofill,
                select:-webkit-autofill:hover,
                select:-webkit-autofill:focus {
                border: none;
                box-shadow: 0 0 0px 1000px #00a18d inset;
                -webkit-text-fill-color: #fff;
                -webkit-box-shadow: 0 0 0px 1000px #00a18d inset;
                transition: background-color 5000s ease-in-out 0s;
                }

                label:not(:last-child) {
                    padding: .7rem 0;
                }
            }

            .contact__form__legal__text__container {
                
                .contact__form__legal__text {
                    @include copy-desktop(400, left, $white);
                    margin-bottom: .3rem;
                }
                
                .contact__form__legal__tooltip {
                    
                    .contact__form__legal__info__button {
                        background-color: transparent;
                        border: none;
                        color: $white;
                        cursor: pointer;
                        margin-bottom: .4rem;
                                                
                        .contact__form__legal__info__icon {
                            // font-size: 1.3rem;
                            width: 1.2rem;                            
                        }
                    }

                    .contact__form__legal__tooltip__content {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        background-color: $white;
                        padding: 1rem;
                        max-width: 25rem;
                        border-radius: .5rem;
                        
                        .contact__form__legal__tooltip__text {
                            @include copy-desktop(400, left, $black);
                            margin-bottom: .7rem;
                        }

                        .contact__form__legal__tooltip_close__btn {
                            @include header-xsm(left, $urbana-green);
                            padding: .3rem 1.5rem .2rem;
                            margin: 0;
                            border: solid .11rem $urbana-green;
                            background-color: transparent;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .contact--greeting--card {
            grid-area: card;
            justify-self: end;
            margin-top: 30px;

            .contact--greeting--card--img {
                width: 19.18rem;
                opacity: .76;
                box-shadow: 1px 3px 3px rgba(22, 72, 84, 1);
                transform: rotate(5.6deg);
            }           
        }
    }
}

// Media Queries

@include media-down(large) {
 
    .contact--container {
    
        .contact--content--width {
    
            .contact--header--container {
    
                .contact--first--paragraph {
                    @include copy(500, left, $white);
                }
            }
    
            .contact--second--paragraph--container {
    
                .contact--second--paragraph {
                    @include copy(500, left, $white);
                }
            }
    
            .contact--form--container {
    
                .contact--form {
                    @include copy(700, left, $white);                  
                }
    
                .contact__form__legal__text__container {
                    
                    .contact__form__legal__text {
                        @include copy(400, left, $white);
                    }
                    
                    .contact__form__legal__tooltip {
                        
                        .contact__form__legal__tooltip__content {           
    
                            .contact__form__legal__tooltip__text {
                                @include copy(400, left, $black);
                            }                               
                        }
                    }
                }
            }
        }
    }
}

@include media-down(medium) {

    .contact--container {

        .contact--content--width {
            padding: 79px 8.33% 79px 8.33%;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "header"
            "card"
            "text"
            "form" ;        

            .contact--greeting--card {
                justify-self: start;
                margin: -1rem 0 1rem 0;        
            }
        }
    }
}

@include media-down(small) {

    .contact--container {
    
        .contact--content--width {             
    
            .contact--form--container {
    
                .contact--form {
    
                    input[type="submit" i] {                        
                        width: 100%;                        
                    }    
                }
            }    
        }
    }
}

@include media-down(extra-small) {

    .contact--container {
    
        .contact--content--width {

            .contact--greeting--card {
  
                .contact--greeting--card--img {
                    width: 95%;    
                    max-width: 19.18rem;               
                }
            }
        }
    }
}