.footer__canvas {
	position: relative;
	font-family: $primary-font-family;
	font-size: .75rem;
	font-weight: 500;	
	line-height: 18px;
	padding: 1rem 8.33% 3rem;
	background-color: $kale;

	.footer__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 2rem;
	
		.footer__submenu {
			margin-top: 1rem;
		
			li {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			
			.footer__submenu__item {
				text-decoration: none;
				list-style-type: none;
				letter-spacing: $header-letter-spacing;
				font-weight: 600;
				text-transform: uppercase;
				color: $white; 
				opacity: .7;				
			}     
		}

		.footer__address__container {
			margin-top: 1rem;

			.footer__header {
				letter-spacing: $header-letter-spacing;
				font-weight: 600;
				text-transform: uppercase;
				color: $white; 
				opacity: .7;
			}

			.footer__copy {
				color: $white; 
				opacity: .7;
			}

			.footer__address {
				font-style: normal;
				color: $white; 
				opacity: .7;			
			}
		}

		.footer__contact__container {
			margin-top: 1rem;

			.footer__header {
				letter-spacing: $header-letter-spacing;
				font-weight: 600;
				font-style: normal;
				text-transform: uppercase;
				color: $white; 
				opacity: .7;

				.footer__copy {
					letter-spacing: $copy-letter-spacing;
					font-weight: 500;
					text-transform: none;
				}
			}

			.footer__link {
				text-decoration: none;
				font-style: normal;
				color: $white; 
				opacity: .7;
				z-index: 100;
			}
		}

		.footer__social__media__container {
			margin-top: 1rem;

			.footer__header {
				letter-spacing: $header-letter-spacing;
				font-weight: 500;
				font-style: normal;
				margin-bottom: .5rem;
				text-transform: uppercase;
				color: $white; 
				opacity: .7;
			}

			.footer__icon__container {
				display: flex;
				justify-content: space-between;
				width: auto;
				top: 1.6rem;
				z-index: 100;

				.footer__instagram__logo {
					height: 1.5rem;
				}
		
				.footer__facebook__logo {
					height: 1.5rem;
				}
		
				.footer__linkedin__logo {
					height: 1.5rem;
				}
			}		
		}
	}

	.footer__copyright {
		position: absolute;
		bottom: 3.1rem;
		right: 8.33%;
		text-align: right;
		color: $urbana-green; 
	}
}

// -------------
// Media Queries
// -------------

@include media-down(extra-small) {
	
	.footer__canvas {
			
		.footer__copyright {
	
			@include media-down(extra-small) {
				position: initial;
				text-align: left;
				margin: 2.5rem 0 0 0;
			}
		}
	}
}