$primary-font-family: Montserrat, sans-serif;

$font-size-header-xlg: 3.7rem;
$font-size-header-lg: 2.3rem;
$font-size-header-md: 1.3rem;
$font-size-header-sm: .85rem;
$font-size-header-xsm: .7rem;
$font-size-copy-desktop: 1rem;
$font-size-copy: 0.87rem;

$header-letter-spacing: .12rem; 
$copy-letter-spacing: .01rem;

$line-height-copy-desktop: 27.52px;
$line-height-copy: 24px;